<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <!-- Icono -->
        <a href="/" class="text-decoration-none fs-2 boton-hover">
            <i class="bi bi-code-square me-2"></i>
            <span>ArgPrograma</span>
        </a>

        <!-- Boton del menu -->
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavDropdown" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Elementos del menu colapsable -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <!-- <li class="nav-item me-2">
                    <a href="" class="nav-link fs-4 boton-hover">Contact</a>
                </li> -->
                <li class="nav-item me-4">
                    <a href="https://www.linkedin.com/in/lautaro-zullo-961288195/" target="_blank" class="nav-link fs-4 boton-hover">Linkedin</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <button class="btn btn-outline-success px-4" (click)="login()" *ngIf="!isLogged">Login</button>
                    <button class="btn btn-outline-danger" (click)="onLogout()" *ngIf="isLogged">Sign out</button>
                </li>
            </ul>
        </div>

    </div>
</nav>