<app-header></app-header>

<section class="fondo d-flex justify-content-center align-items-center">
    <h1 class="text-center texto-encima centrado prueba p-5 rounded" style="color: #F3EFE0;">Portfolio - Proyecto Final</h1>
</section>

<main class="container">
    <div class="contenido-principal">
        <app-acerca-de></app-acerca-de>
        <app-education></app-education>
        <app-hys></app-hys>
    </div>

    <aside class="aside">
        <app-experiencia></app-experiencia>
    </aside>
</main>