<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card px-1 py-3 bg-dark carta" style="color: #F3EFE0;">

        <div class="d-flex align-items-center justify-content-center mx-auto p-4" style="background-color: #F3EFE0; width: 30%; border-radius: 50%;">
            <img class="img-fluid mx-auto imagen" src="assets/img/forms/tablet.png" alt="imagen nueva educacion">
        </div>

        <h3 class="text-center mt-3">Nueva educacion</h3>
        <div class="inner mb-3">&nbsp;</div>

        <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="mx-auto" style="min-width: 70%;">
            <div class="mb-3">
                <label class="form-label fw-semibold" for="title">Titulo</label>
                <input class="form-control bg-dark" type="text" id="title" name="title" [(ngModel)]="title" required style="border: none; color: #F3EFE0; border-bottom: 2px solid #22A39F; border-radius: 0;">
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold" for="subtitle">Subtitulo</label>
                <input class="form-control bg-dark" type="text" id="subtitle" name="subtitle" [(ngModel)]="subtitle" required style="border: none; color: #F3EFE0; border-bottom: 2px solid #22A39F; border-radius: 0;">
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold" for="description">Descripcion</label>
                <input class="form-control bg-dark" type="text" id="description" name="description" [(ngModel)]="description" required style="border: none; color: #F3EFE0; border-bottom: 2px solid #22A39F; border-radius: 0;">
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold" for="linkProject">Link del proyecto</label>
                <input class="form-control bg-dark" type="text" id="linkProject" name="linkProject" [(ngModel)]="linkProject" required style="border: none; color: #F3EFE0; border-bottom: 2px solid #22A39F; border-radius: 0;">
                <div id="linkProjectHelp" class="form-text" style="color: #E96479;">No es obligatorio el link.</div>
            </div>

            <div class="mb-3 d-grid gap-2">
                <button type="submit" class="btn btn-outline-info">Crear</button>
            </div>
        </form>
    </div>

    <a href="/" class="btn-flotante">
        <i class="bi bi-caret-left-fill"></i>
    </a>
</div>